
$body-background: rgb(143, 165, 247);
$posts-background: white;
$font-family: 'Roboto Slab', serif;
$navbar-height: 80px;

body {
  background-color: $body-background;
}

.nav-menu {
  overflow: hidden;  
  position: fixed; 
  top: 0; 
  width: 100%;
  padding-left: 10px;
  height: $navbar-height; 
  font-family: $font-family;
  z-index: 2;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  background-color: $body-background;
}

.nav-menu h1 {
  transition-duration: 1.75s;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.nav-menu h1:hover {
  text-decoration: underline;
  cursor: pointer; 
}

.post-container {
  margin-top: $navbar-height;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.users-container, .titles-container {
  margin-left: 10px;
  font-family: $font-family;
  margin-top: $navbar-height;
  text-align: center;
}

.titles-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.title {
  padding: 20px;
  margin: 10px;
  background-color: $posts-background;
  margin: 10px;
}
.post {
  font-family: $font-family;
  padding: 20px;
  margin: 10px;
  background-color: $posts-background;
  transition: 0.5s;
}

.post:hover{
  box-shadow: 2px 2px 4px grey;
  transform: scale(1.01);
}

.post-body {
  font-style: italic;
}

.error, .loading { 
  text-align: center;
  font-family: $font-family;
}

@media(max-width: 1024px) {
  .post-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .titles-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 414px) {
  .post-container {
    grid-template-columns: 1fr;
  }

  .titles-container {
    grid-template-columns: 1fr;
  }
}
