
$body-background: rgb(179, 242, 198);
$posts-background: white;
$font-family: 'Source Sans Pro', sans-serif;

body {
  background-color: $body-background;
}

.App {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}

.post {
  font-family: $font-family;
  padding: 20px;
  margin: 10px;
  background-color: $posts-background;
  transition: 0.5s;
}

.post:hover{
  box-shadow: 2px 2px 4px grey;
  transform: scale(1.01);
}

.post-body {
  font-style: italic;
}

.error, .loading { 
  text-align: center;
  font-family: $font-family;
}

@media(max-width: 1024px) {
  .App {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media(max-width: 414px) {
  .App {
    grid-template-columns: 1fr;
  }
}
